.env
.env*

CSVs/
info/
processedCSVs/
teamXplayersCSV/

downloadPlayers
downloads

processedTeamCSV/

teamsStats/
teamsStats2024
teamsStats2023
teamsStats2022
teamsStats2021
teamsStats2020
teamsStats2019
teamsStats2018

processedPlayers
processedTeamStats
